.product-div{
    width:40vh;
    height: 55vh;
    background-color: lightgray;
    box-shadow: 0px 10px 10px ;
    margin-bottom: 1vh;
    border-radius:5px;
    margin-left:-5vh;
}
.product-heading{
    text-align: center;
    font-size:x-large;
    margin-top: 2vh;
}
.product-img{
    width:35vh;
    height:25vh;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.product-para{
text-align: center;
font-size: medium;
margin-top: 0vh;
padding: 0px;
margin-bottom:0vh;
}
.span_1{
    text-decoration: line-through;
}
.product-btn{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 24vh;
    margin: auto;
    
    height: 6vh;
    border: none;
    color:white;
    margin-top: 2vh;
    border-radius: 5px;
    background-color:#2c3338;
    
}